infra/golden-path-01-revenue-cycle/template.yaml
AWSTemplateFormatVersion: "2010-09-09"
Transform: AWS::Serverless-2016-10-31
Description: >
  HPP Golden Path — Agent 01 Revenue-Cycle & Denial. One-command (sam build && sam deploy)
  GOVERNED + NETWORK-ISOLATED workflow: an HTTP API whose tool route runs THROUGH the MCP
  authorization gateway (policy -> bound approval -> scoped token -> append-only PHI-masked
  audit). The runtime Lambdas run in PRIVATE subnets with NO internet route (no IGW, no NAT);
  every AWS dependency is reached over a VPC endpoint (Bedrock/KMS/Logs/STS interface
  endpoints + a DynamoDB gateway endpoint), so PHI cannot egress to the public internet and
  Bedrock inference stays in-account over PrivateLink. Includes a Cognito JWT authorizer and
  an authenticated reviewer service that mints bound, single-use approval tokens. Fixture mode
  (no PHI, no live connectors). PHI requires an executed AWS BAA before go-live.

Parameters:
  Environment: {Type: String, Default: dev, AllowedValues: [dev, test, prod]}
  VpcCidr: {Type: String, Default: "10.40.0.0/16"}
  DynamoDbPrefixListId:
    Type: String
    Default: ""
    Description: >
      Managed prefix list id for the DynamoDB gateway endpoint, used as the runtime SG egress
      destination (no 0.0.0.0/0). Find it with:
      aws ec2 describe-managed-prefix-lists --filters Name=prefix-list-name,Values=com.amazonaws.<region>.dynamodb
  S3PrefixListId:
    Type: String
    Default: ""
    Description: "Managed prefix list id for the S3 gateway endpoint (same lookup, ...Values=com.amazonaws.<region>.s3)."
  WormRetentionDays:
    Type: Number
    Default: 2555
    Description: "WORM (S3 Object Lock COMPLIANCE) retention in days; default ~7 years."
  WormMode:
    Type: String
    Default: COMPLIANCE
    AllowedValues: [COMPLIANCE, GOVERNANCE]
    Description: "S3 Object Lock mode. COMPLIANCE (prod, immutable even to root) | GOVERNANCE (non-prod, deletable with bypass)."
  BedrockModelArn:
    Type: String
    Default: ""
    Description: >
      Optional Bedrock foundation-model ARN the agent may invoke (e.g.
      arn:aws:bedrock:us-east-1::foundation-model/anthropic.claude-3-5-sonnet-20240620-v1:0).
      Empty in fixture mode -> no bedrock permission and no bedrock-runtime endpoint.
  PhiEngine:
    Type: String
    Default: deterministic
    AllowedValues: [deterministic, comprehend_medical]
    Description: >
      PHI masking engine for log/audit boundaries. "deterministic" (default) uses
      the dependency-free Safe-Harbor regex masker only. "comprehend_medical"
      ADDITIONALLY runs Amazon Comprehend Medical DetectPHI (HIPAA-eligible;
      belt-and-suspenders with the deterministic pass, fail-closed). Only when set
      to comprehend_medical is the comprehendmedical:DetectPHI IAM permission granted.

Conditions:
  HasBedrockModel: !Not [!Equals [!Ref BedrockModelArn, ""]]
  HasDdbPl: !Not [!Equals [!Ref DynamoDbPrefixListId, ""]]
  HasS3Pl: !Not [!Equals [!Ref S3PrefixListId, ""]]
  # Grants comprehendmedical:DetectPHI ONLY when the opt-in Comprehend Medical
  # PHI engine is selected. Default (deterministic) grants no Comprehend perms.
  UsesComprehendMedical: !Equals [!Ref PhiEngine, comprehend_medical]

Globals:
  Function:
    Runtime: python3.12
    Timeout: 30
    MemorySize: 256
    Architectures: [arm64]
    # Every runtime function is VPC-attached to the private subnets with the egress-locked SG.
    VpcConfig:
      SubnetIds: [!Ref PrivateSubnetA, !Ref PrivateSubnetB]
      SecurityGroupIds: [!Ref LambdaSg]
    Environment:
      Variables:
        CONNECTOR_MODE: fixture
        # Selects the PHI masking engine (see PhiEngine parameter). "comprehend_medical"
        # is opt-in and requires the gated comprehendmedical:DetectPHI permission below.
        PHI_ENGINE: !Ref PhiEngine
        AUDIT_TABLE: !Ref AuditTable
        HITL_TABLE: !Ref HitlTable
        JTI_TABLE: !Ref JtiTable
        # Deployed environments enforce bound, single-use, SoD approval tokens only;
        # the demo approval shape is rejected. Closes the approval-bypass finding.
        AUTH_REQUIRE_BOUND_APPROVAL: "1"
        # Shared HMAC key for mint (reviewer fn) and verify (connector fn), resolved from
        # Secrets Manager at deploy time. Never hardcoded.
        APPROVAL_SIGNING_SECRET: !Sub "{{resolve:secretsmanager:${ApprovalSecret}:SecretString}}"
        AUDIT_SIGNING_SECRET: !Sub "{{resolve:secretsmanager:${ApprovalSecret}:SecretString}}"

Resources:
  # ── Network: private, no internet route ─────────────────────────────────────
  Vpc:
    Type: AWS::EC2::VPC
    Properties:
      CidrBlock: !Ref VpcCidr
      EnableDnsSupport: true
      EnableDnsHostnames: true
      Tags: [{Key: Name, Value: !Sub "hpp-gp01-${Environment}"}]

  PrivateSubnetA:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref Vpc
      CidrBlock: !Select [0, !Cidr [!Ref VpcCidr, 4, 8]]
      AvailabilityZone: !Select [0, !GetAZs ""]
      MapPublicIpOnLaunch: false

  PrivateSubnetB:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref Vpc
      CidrBlock: !Select [1, !Cidr [!Ref VpcCidr, 4, 8]]
      AvailabilityZone: !Select [1, !GetAZs ""]
      MapPublicIpOnLaunch: false

  # Route table with ONLY the local route (no IGW, no NAT) -> no path to the internet.
  PrivateRt:
    Type: AWS::EC2::RouteTable
    Properties: {VpcId: !Ref Vpc}
  AssocA:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties: {SubnetId: !Ref PrivateSubnetA, RouteTableId: !Ref PrivateRt}
  AssocB:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties: {SubnetId: !Ref PrivateSubnetB, RouteTableId: !Ref PrivateRt}

  # Egress-locked SG for the functions: 443 only, to the endpoint SG / in-VPC services.
  LambdaSg:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: HPP gp01 runtime - egress 443 to VPC endpoints only
      VpcId: !Ref Vpc
      SecurityGroupEgress:
        - {IpProtocol: tcp, FromPort: 443, ToPort: 443, CidrIp: !Ref VpcCidr,
           Description: "HTTPS to in-VPC interface endpoints + DynamoDB gateway endpoint"}

  # Interface-endpoint SG: accept 443 only from the runtime SG.
  EndpointSg:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: HPP gp01 VPC interface endpoints - 443 from runtime SG
      VpcId: !Ref Vpc
      SecurityGroupIngress:
        - {IpProtocol: tcp, FromPort: 443, ToPort: 443, SourceSecurityGroupId: !Ref LambdaSg,
           Description: "HTTPS from runtime Lambdas"}

  # DynamoDB via GATEWAY endpoint (route-table assoc) — audit/HITL/jti never leave AWS.
  DynamoDbEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Properties:
      VpcId: !Ref Vpc
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.dynamodb"
      VpcEndpointType: Gateway
      RouteTableIds: [!Ref PrivateRt]
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal: "*"
            Action: [dynamodb:PutItem, dynamodb:UpdateItem, dynamodb:GetItem, dynamodb:Query]
            Resource: "*"
            Condition: {StringEquals: {"aws:PrincipalAccount": !Ref "AWS::AccountId"}}

  # S3 gateway endpoint — the WORM exporter writes audit objects privately (no internet).
  S3Endpoint:
    Type: AWS::EC2::VPCEndpoint
    Properties:
      VpcId: !Ref Vpc
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.s3"
      VpcEndpointType: Gateway
      RouteTableIds: [!Ref PrivateRt]

  # Runtime SG egress to the gateway-endpoint prefix lists (DynamoDB/S3). Uses prefix-list ids,
  # never 0.0.0.0/0 — the route table already has no internet path.
  DdbEgress:
    Type: AWS::EC2::SecurityGroupEgress
    Condition: HasDdbPl
    Properties: {GroupId: !Ref LambdaSg, IpProtocol: tcp, FromPort: 443, ToPort: 443, DestinationPrefixListId: !Ref DynamoDbPrefixListId, Description: "HTTPS to the DynamoDB gateway endpoint"}
  S3Egress:
    Type: AWS::EC2::SecurityGroupEgress
    Condition: HasS3Pl
    Properties: {GroupId: !Ref LambdaSg, IpProtocol: tcp, FromPort: 443, ToPort: 443, DestinationPrefixListId: !Ref S3PrefixListId, Description: "HTTPS to the S3 gateway endpoint"}

  KmsEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Properties:
      VpcId: !Ref Vpc
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.kms"
      VpcEndpointType: Interface
      PrivateDnsEnabled: true
      SubnetIds: [!Ref PrivateSubnetA, !Ref PrivateSubnetB]
      SecurityGroupIds: [!Ref EndpointSg]

  LogsEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Properties:
      VpcId: !Ref Vpc
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.logs"
      VpcEndpointType: Interface
      PrivateDnsEnabled: true
      SubnetIds: [!Ref PrivateSubnetA, !Ref PrivateSubnetB]
      SecurityGroupIds: [!Ref EndpointSg]

  StsEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Properties:
      VpcId: !Ref Vpc
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.sts"
      VpcEndpointType: Interface
      PrivateDnsEnabled: true
      SubnetIds: [!Ref PrivateSubnetA, !Ref PrivateSubnetB]
      SecurityGroupIds: [!Ref EndpointSg]

  # Step Functions endpoint — the reviewer service resumes the paused execution
  # (SendTaskSuccess) from inside the private subnets; no internet path exists.
  StatesEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Properties:
      VpcId: !Ref Vpc
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.states"
      VpcEndpointType: Interface
      PrivateDnsEnabled: true
      SubnetIds: [!Ref PrivateSubnetA, !Ref PrivateSubnetB]
      SecurityGroupIds: [!Ref EndpointSg]

  # In-account Bedrock over PrivateLink — only created when a model is configured.
  BedrockEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Condition: HasBedrockModel
    Properties:
      VpcId: !Ref Vpc
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.bedrock-runtime"
      VpcEndpointType: Interface
      PrivateDnsEnabled: true
      SubnetIds: [!Ref PrivateSubnetA, !Ref PrivateSubnetB]
      SecurityGroupIds: [!Ref EndpointSg]
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal: "*"
            Action: [bedrock:InvokeModel]
            Resource: !Ref BedrockModelArn
            Condition: {StringEquals: {"aws:PrincipalAccount": !Ref "AWS::AccountId"}}

  # ── Data plane ──────────────────────────────────────────────────────────────
  AgentKey:
    Type: AWS::KMS::Key
    Properties:
      Description: !Sub "CMK for HPP golden-path 01 (${Environment})"
      EnableKeyRotation: true
      KeyPolicy:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal: {AWS: !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:root"}
            Action: "kms:*"
            Resource: "*"

  AuditTable:
    Type: AWS::DynamoDB::Table
    Properties:
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - {AttributeName: audit_id, AttributeType: S}
        - {AttributeName: ts, AttributeType: S}
      KeySchema:
        - {AttributeName: audit_id, KeyType: HASH}
        - {AttributeName: ts, KeyType: RANGE}
      PointInTimeRecoverySpecification: {PointInTimeRecoveryEnabled: true}
      SSESpecification: {SSEEnabled: true, SSEType: KMS, KMSMasterKeyId: !Ref AgentKey}
      StreamSpecification: {StreamViewType: NEW_IMAGE}

  HitlTable:
    Type: AWS::DynamoDB::Table
    Properties:
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions: [{AttributeName: review_id, AttributeType: S}]
      KeySchema: [{AttributeName: review_id, KeyType: HASH}]
      SSESpecification: {SSEEnabled: true, SSEType: KMS, KMSMasterKeyId: !Ref AgentKey}

  # Single-use approval guard. Conditional PutItem on jti makes a token consumable once
  # across concurrent Lambdas; TTL self-expires consumed jtis. Durable replay protection.
  JtiTable:
    Type: AWS::DynamoDB::Table
    Properties:
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions: [{AttributeName: jti, AttributeType: S}]
      KeySchema: [{AttributeName: jti, KeyType: HASH}]
      TimeToLiveSpecification: {AttributeName: expires_at, Enabled: true}
      SSESpecification: {SSEEnabled: true, SSEType: KMS, KMSMasterKeyId: !Ref AgentKey}

  ApprovalSecret:
    Type: AWS::SecretsManager::Secret
    Properties:
      Description: !Sub "HMAC signing key for HPP golden-path 01 approval tokens (${Environment})"
      KmsKeyId: !Ref AgentKey
      GenerateSecretString: {PasswordLength: 64, ExcludePunctuation: true}

  # ── Identity ────────────────────────────────────────────────────────────────
  UserPool:
    Type: AWS::Cognito::UserPool
    Properties:
      UserPoolName: !Sub "hpp-gp01-${Environment}"
      AdminCreateUserConfig: {AllowAdminCreateUserOnly: true}
      Schema:
        - {Name: hpp_role, AttributeDataType: String, Mutable: true}

  UserPoolClient:
    Type: AWS::Cognito::UserPoolClient
    Properties:
      UserPoolId: !Ref UserPool
      GenerateSecret: false
      ExplicitAuthFlows: [ALLOW_USER_SRP_AUTH, ALLOW_REFRESH_TOKEN_AUTH, ALLOW_ADMIN_USER_PASSWORD_AUTH]

  GatewayApi:
    Type: AWS::Serverless::HttpApi
    Properties:
      StageName: !Ref Environment
      Auth:
        Authorizers:
          CognitoJwt:
            IdentitySource: "$request.header.Authorization"
            JwtConfiguration:
              audience: [!Ref UserPoolClient]
              issuer: !Sub "https://cognito-idp.${AWS::Region}.amazonaws.com/${UserPool}"
        DefaultAuthorizer: CognitoJwt

  # ── Functions ───────────────────────────────────────────────────────────────
  # Connector/tool route — runs THROUGH the governed gateway. Its OWN least-privilege role
  # (VPC-access + exactly the tables it touches). Bedrock granted ONLY with a model ARN,
  # scoped to that ARN — never Resource:"*".
  ConnectorFn:
    Type: AWS::Serverless::Function
    Properties:
      Handler: index.handler
      CodeUri: src/
      Policies:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
        - Statement:
            - {Effect: Allow, Action: [dynamodb:PutItem, dynamodb:UpdateItem, dynamodb:GetItem, dynamodb:Query], Resource: [!GetAtt AuditTable.Arn, !GetAtt HitlTable.Arn]}
            - {Effect: Allow, Action: [dynamodb:PutItem], Resource: !GetAtt JtiTable.Arn}
            - {Effect: Allow, Action: [kms:Decrypt, kms:GenerateDataKey], Resource: !GetAtt AgentKey.Arn}
            - !If
              - HasBedrockModel
              - {Effect: Allow, Action: [bedrock:InvokeModel], Resource: !Ref BedrockModelArn}
              - !Ref AWS::NoValue
            # Comprehend Medical PHI detection — required ONLY when PHI_ENGINE=comprehend_medical.
            # Default (deterministic) PHI masking grants no Comprehend permission. DetectPHI has
            # no resource-level scoping, so Resource must be "*"; the account-scoped condition
            # keeps it in-account. Add DetectEntitiesV2 here too if that API is ever used.
            - !If
              - UsesComprehendMedical
              - {Effect: Allow, Action: [comprehendmedical:DetectPHI], Resource: "*",
                 Condition: {StringEquals: {"aws:PrincipalAccount": !Ref "AWS::AccountId"}}}
              - !Ref AWS::NoValue
      Events:
        Tool:
          Type: HttpApi
          Properties:
            ApiId: !Ref GatewayApi
            Method: POST
            Path: "/tool/{kind}/{method}"
        Health:
          Type: HttpApi
          Properties:
            ApiId: !Ref GatewayApi
            Method: GET
            Path: "/ping"
            Auth: {Authorizer: NONE}
        EgressCheck:
          Type: HttpApi
          Properties:
            ApiId: !Ref GatewayApi
            Method: GET
            Path: "/egress-check"
            Auth: {Authorizer: NONE}

  # Authenticated two-person approval authority. A reviewer calls this under their OWN
  # verified Cognito token; it mints the bound, single-use token the connector requires.
  # Separate function => separate least-privilege role (VPC-access + audit-write + KMS only;
  # NO connector table, NO jti table, NO bedrock).
  ReviewerFn:
    Type: AWS::Serverless::Function
    Properties:
      Handler: reviewer.handler
      CodeUri: src/
      Policies:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
        - Statement:
            - {Effect: Allow, Action: [dynamodb:PutItem, dynamodb:UpdateItem, dynamodb:GetItem, dynamodb:Query], Resource: [!GetAtt AuditTable.Arn, !GetAtt HitlTable.Arn]}
            - {Effect: Allow, Action: [kms:Decrypt, kms:GenerateDataKey], Resource: !GetAtt AgentKey.Arn}
            # Resume the paused Step Functions execution after minting the bound token.
            # SendTaskSuccess is not resource-scopable, so it must be "*".
            - {Effect: Allow, Action: [states:SendTaskSuccess, states:SendTaskFailure], Resource: "*"}
      Events:
        Approve:
          Type: HttpApi
          Properties:
            ApiId: !Ref GatewayApi
            Method: POST
            Path: "/approvals"
        Health:
          Type: HttpApi
          Properties:
            ApiId: !Ref GatewayApi
            Method: GET
            Path: "/approvals/ping"
            Auth: {Authorizer: NONE}

  # Controlled outbox — approved appeals are EXPORTED here (a queue a biller works), not
  # auto-transmitted to the payer. Minimizes blast radius for the first deployable version.
  AppealOutbox:
    Type: AWS::SQS::Queue
    Properties:
      KmsMasterKeyId: !Ref AgentKey
      MessageRetentionPeriod: 1209600

  # The workflow task logic — every step runs THROUGH the governed gateway. Invoked only by
  # the state machine (no HTTP events). Its own least-privilege role.
  WorkflowFn:
    Type: AWS::Serverless::Function
    Properties:
      Handler: workflow.handler
      CodeUri: src/
      Policies:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
        - Statement:
            - {Effect: Allow, Action: [dynamodb:PutItem, dynamodb:UpdateItem, dynamodb:GetItem, dynamodb:Query], Resource: [!GetAtt AuditTable.Arn, !GetAtt HitlTable.Arn]}
            - {Effect: Allow, Action: [dynamodb:PutItem], Resource: !GetAtt JtiTable.Arn}
            - {Effect: Allow, Action: [kms:Decrypt, kms:GenerateDataKey], Resource: !GetAtt AgentKey.Arn}
            - !If
              - HasBedrockModel
              - {Effect: Allow, Action: [bedrock:InvokeModel], Resource: !Ref BedrockModelArn}
              - !Ref AWS::NoValue
            # Comprehend Medical PHI detection — required ONLY when PHI_ENGINE=comprehend_medical.
            # Default (deterministic) PHI masking grants no Comprehend permission. DetectPHI has
            # no resource-level scoping, so Resource must be "*"; the account-scoped condition
            # keeps it in-account. Add DetectEntitiesV2 here too if that API is ever used.
            - !If
              - UsesComprehendMedical
              - {Effect: Allow, Action: [comprehendmedical:DetectPHI], Resource: "*",
                 Condition: {StringEquals: {"aws:PrincipalAccount": !Ref "AWS::AccountId"}}}
              - !Ref AWS::NoValue

  # Real denial workflow: load -> analyze -> (appealable?) -> gather -> draft -> compliance ->
  # waitForTaskToken HUMAN GATE -> (approved?) -> finalize (governed write w/ bound token) ->
  # export to the controlled outbox. No Pass placeholders.
  DenialWorkflow:
    Type: AWS::Serverless::StateMachine
    Properties:
      Type: STANDARD
      Tracing: {Enabled: true}
      Policies:
        - LambdaInvokePolicy: {FunctionName: !Ref WorkflowFn}
        - SQSSendMessagePolicy: {QueueName: !GetAtt AppealOutbox.QueueName}
        # The outbox queue is encrypted with the CMK; sending a message needs KMS data-key.
        - Statement:
            - {Effect: Allow, Action: [kms:GenerateDataKey, kms:Decrypt], Resource: !GetAtt AgentKey.Arn}
      DefinitionSubstitutions:
        WorkflowFnArn: !GetAtt WorkflowFn.Arn
        OutboxUrl: !Ref AppealOutbox
      Definition:
        Comment: "HPP Agent 01 denial workflow — governed tasks + waitForTaskToken human gate."
        StartAt: LoadClaim
        States:
          LoadClaim:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters: {FunctionName: "${WorkflowFnArn}", Payload: {step: load_claim, "state.$": "$"}}
            OutputPath: "$.Payload"
            Retry: [{ErrorEquals: [States.TaskFailed], MaxAttempts: 2, IntervalSeconds: 2, BackoffRate: 2.0}]
            Catch: [{ErrorEquals: [States.ALL], Next: WorkflowFailed}]
            Next: AnalyzeDenial
          AnalyzeDenial:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters: {FunctionName: "${WorkflowFnArn}", Payload: {step: analyze_denial, "state.$": "$"}}
            OutputPath: "$.Payload"
            Catch: [{ErrorEquals: [States.ALL], Next: WorkflowFailed}]
            Next: AppealableChoice
          AppealableChoice:
            Type: Choice
            Choices: [{Variable: "$.analysis.appealable", BooleanEquals: true, Next: GatherEvidence}]
            Default: NotAppealable
          GatherEvidence:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters: {FunctionName: "${WorkflowFnArn}", Payload: {step: gather_evidence, "state.$": "$"}}
            OutputPath: "$.Payload"
            Catch: [{ErrorEquals: [States.ALL], Next: WorkflowFailed}]
            Next: DraftAppeal
          DraftAppeal:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters: {FunctionName: "${WorkflowFnArn}", Payload: {step: draft_appeal, "state.$": "$"}}
            OutputPath: "$.Payload"
            Catch: [{ErrorEquals: [States.ALL], Next: WorkflowFailed}]
            Next: ComplianceCheck
          ComplianceCheck:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters: {FunctionName: "${WorkflowFnArn}", Payload: {step: compliance_check, "state.$": "$"}}
            OutputPath: "$.Payload"
            Catch: [{ErrorEquals: [States.ALL], Next: WorkflowFailed}]
            Next: ComplianceChoice
          ComplianceChoice:
            Type: Choice
            Choices: [{Variable: "$.compliance.ok", BooleanEquals: true, Next: HumanReviewGate}]
            Default: ComplianceFailed
          HumanReviewGate:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke.waitForTaskToken
            Parameters:
              FunctionName: "${WorkflowFnArn}"
              Payload: {step: persist_review, "state.$": "$", "task_token.$": "$$.Task.Token"}
            ResultPath: "$.approval"
            TimeoutSeconds: 86400
            Catch: [{ErrorEquals: [States.ALL], Next: ReviewRejected}]
            Next: ApprovedChoice
          ApprovedChoice:
            Type: Choice
            Choices: [{Variable: "$.approval.token", IsPresent: true, Next: Finalize}]
            Default: ReviewRejected
          Finalize:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters: {FunctionName: "${WorkflowFnArn}", Payload: {step: finalize, "state.$": "$"}}
            OutputPath: "$.Payload"
            Catch: [{ErrorEquals: [States.ALL], Next: WorkflowFailed}]
            Next: SendToOutbox
          SendToOutbox:
            Type: Task
            Resource: arn:aws:states:::sqs:sendMessage
            Parameters: {QueueUrl: "${OutboxUrl}", "MessageBody.$": "States.JsonToString($.finalize)"}
            End: true
          NotAppealable:
            Type: Succeed
          ComplianceFailed:
            Type: Fail
            Error: ComplianceCheckFailed
            Cause: "Draft appeal not grounded in gathered evidence"
          ReviewRejected:
            Type: Fail
            Error: HumanReviewRejected
            Cause: "Reviewer did not approve the appeal (or the gate timed out)"
          WorkflowFailed:
            Type: Fail
            Error: WorkflowError
            Cause: "A governed task failed; see execution history + the append-only audit"

  # ── WORM audit archive (automatic) ───────────────────────────────────────────
  # Finalized audit records stream here as immutable Object-Lock (COMPLIANCE) objects — the
  # durable, independently verifiable evidence trail, separate from the live table.
  WormBucket:
    Type: AWS::S3::Bucket
    Properties:
      ObjectLockEnabled: true
      VersioningConfiguration: {Status: Enabled}
      ObjectLockConfiguration:
        ObjectLockEnabled: Enabled
        Rule: {DefaultRetention: {Mode: !Ref WormMode, Days: !Ref WormRetentionDays}}
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault: {SSEAlgorithm: aws:kms, KMSMasterKeyID: !Ref AgentKey}
      PublicAccessBlockConfiguration: {BlockPublicAcls: true, BlockPublicPolicy: true, IgnorePublicAcls: true, RestrictPublicBuckets: true}

  # Triggered by the AuditTable stream — export is automatic and part of the durable write path.
  AuditExporterFn:
    Type: AWS::Serverless::Function
    Properties:
      Handler: exporter.handler
      CodeUri: src/
      Environment:
        Variables:
          WORM_BUCKET: !Ref WormBucket
          WORM_RETENTION_DAYS: !Ref WormRetentionDays
      Policies:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
        - Statement:
            - {Effect: Allow, Action: [s3:PutObject, s3:PutObjectRetention], Resource: !Sub "${WormBucket.Arn}/*"}
            - {Effect: Allow, Action: [kms:Decrypt, kms:GenerateDataKey], Resource: !GetAtt AgentKey.Arn}
      Events:
        AuditStream:
          Type: DynamoDB
          Properties:
            Stream: !GetAtt AuditTable.StreamArn
            StartingPosition: LATEST
            BatchSize: 10
            MaximumRetryAttempts: 3

Outputs:
  GatewayUrl:
    Description: Base URL of the governed tool API
    Value: !Sub "https://${GatewayApi}.execute-api.${AWS::Region}.amazonaws.com/${Environment}"
  ApprovalsUrl:
    Description: Reviewer-service endpoint (POST a bound approval here as the reviewer)
    Value: !Sub "https://${GatewayApi}.execute-api.${AWS::Region}.amazonaws.com/${Environment}/approvals"
  EgressCheckUrl:
    Description: Diagnostic that must report BLOCKED (no public egress) on a correct deploy
    Value: !Sub "https://${GatewayApi}.execute-api.${AWS::Region}.amazonaws.com/${Environment}/egress-check"
  VpcId: {Value: !Ref Vpc}
  UserPoolId: {Value: !Ref UserPool}
  UserPoolClientId: {Value: !Ref UserPoolClient}
  AuditTableName: {Value: !Ref AuditTable}
  HitlTableName: {Value: !Ref HitlTable}
  JtiTableName: {Value: !Ref JtiTable}
  StateMachineArn: {Value: !Ref DenialWorkflow}
  AppealOutboxUrl: {Value: !Ref AppealOutbox}
  WormBucketName: {Value: !Ref WormBucket}
  PhiEngineName:
    Description: Selected PHI masking engine (deterministic | comprehend_medical)
    Value: !Ref PhiEngine
