aws-native-reference/06-payment-integrity-coding/stepfunctions/06-payment-integrity-coding.asl.json
{
  "Comment": "HPP 06-payment-integrity-coding \u2014 Validates codes (NCCI/MUE), checks medical necessity, detects upcoding/duplicate/unsupported-necessity, drafts a finding; a reviewer confirms. The agent flags only \u2014 no recoupment, payment adjustment, or submission.",
  "StartAt": "intake",
  "TimeoutSeconds": 86400,
  "States": {
    "intake": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "node: intake",
      "Parameters": {
        "FunctionName": "hpp-06-payment-integrity-coding-${ENV}-core",
        "Payload": {
          "node": "intake",
          "state.$": "$"
        }
      },
      "ResultSelector": {
        "state.$": "$.Payload.state"
      },
      "ResultPath": "$",
      "Next": "load_claim"
    },
    "load_claim": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "node: load_claim",
      "Parameters": {
        "FunctionName": "hpp-06-payment-integrity-coding-${ENV}-core",
        "Payload": {
          "node": "load_claim",
          "state.$": "$"
        }
      },
      "ResultSelector": {
        "state.$": "$.Payload.state"
      },
      "ResultPath": "$",
      "Next": "analyze_coding"
    },
    "analyze_coding": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "node: analyze_coding",
      "Parameters": {
        "FunctionName": "hpp-06-payment-integrity-coding-${ENV}-core",
        "Payload": {
          "node": "analyze_coding",
          "state.$": "$"
        }
      },
      "ResultSelector": {
        "state.$": "$.Payload.state"
      },
      "ResultPath": "$",
      "Next": "detect_issues"
    },
    "detect_issues": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "node: detect_issues",
      "Parameters": {
        "FunctionName": "hpp-06-payment-integrity-coding-${ENV}-core",
        "Payload": {
          "node": "detect_issues",
          "state.$": "$"
        }
      },
      "ResultSelector": {
        "state.$": "$.Payload.state"
      },
      "ResultPath": "$",
      "Next": "draft_finding"
    },
    "draft_finding": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "node: draft_finding",
      "Parameters": {
        "FunctionName": "hpp-06-payment-integrity-coding-${ENV}-core",
        "Payload": {
          "node": "draft_finding",
          "state.$": "$"
        }
      },
      "ResultSelector": {
        "state.$": "$.Payload.state"
      },
      "ResultPath": "$",
      "Next": "compliance_check"
    },
    "compliance_check": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "node: compliance_check",
      "Parameters": {
        "FunctionName": "hpp-06-payment-integrity-coding-${ENV}-core",
        "Payload": {
          "node": "compliance_check",
          "state.$": "$"
        }
      },
      "ResultSelector": {
        "state.$": "$.Payload.state"
      },
      "ResultPath": "$",
      "Next": "review_gate"
    },
    "review_gate": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Comment": "HITL gate \u2014 suspends until a verified Payment-Integrity Reviewer approves (mirrors interrupt_before).",
      "Parameters": {
        "FunctionName": "hpp-06-payment-integrity-coding-${ENV}-hitl",
        "Payload": {
          "taskToken.$": "$$.Task.Token",
          "reviewerRole": "Payment-Integrity Reviewer",
          "state.$": "$"
        }
      },
      "ResultSelector": {
        "approval.$": "$"
      },
      "ResultPath": "$.human_approval",
      "Next": "finalize"
    },
    "finalize": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "node: finalize \u2014 commit approved action / forward recommendation; write PHI-masked audit.",
      "Parameters": {
        "FunctionName": "hpp-06-payment-integrity-coding-${ENV}-core",
        "Payload": {
          "node": "finalize",
          "state.$": "$"
        }
      },
      "ResultSelector": {
        "state.$": "$.Payload.state"
      },
      "ResultPath": "$",
      "End": true
    }
  }
}