aws-native-reference/02-prior-authorization/stepfunctions/02-prior-authorization.asl.json
{
  "Comment": "HPP 02-prior-authorization \u2014 Determines PA requirement (Da Vinci CRD), assembles evidence, evaluates MCG/InterQual criteria, drafts the rationale; the PA nurse approves submission. The coverage determination is the payer's.",
  "StartAt": "intake",
  "TimeoutSeconds": 86400,
  "States": {
    "intake": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "node: intake",
      "Parameters": {
        "FunctionName": "hpp-02-prior-authorization-${ENV}-core",
        "Payload": {
          "node": "intake",
          "state.$": "$"
        }
      },
      "ResultSelector": {
        "state.$": "$.Payload.state"
      },
      "ResultPath": "$",
      "Next": "check_requirement"
    },
    "check_requirement": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "node: check_requirement",
      "Parameters": {
        "FunctionName": "hpp-02-prior-authorization-${ENV}-core",
        "Payload": {
          "node": "check_requirement",
          "state.$": "$"
        }
      },
      "ResultSelector": {
        "state.$": "$.Payload.state"
      },
      "ResultPath": "$",
      "Next": "gather_evidence"
    },
    "gather_evidence": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "node: gather_evidence",
      "Parameters": {
        "FunctionName": "hpp-02-prior-authorization-${ENV}-core",
        "Payload": {
          "node": "gather_evidence",
          "state.$": "$"
        }
      },
      "ResultSelector": {
        "state.$": "$.Payload.state"
      },
      "ResultPath": "$",
      "Next": "evaluate_criteria"
    },
    "evaluate_criteria": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "node: evaluate_criteria",
      "Parameters": {
        "FunctionName": "hpp-02-prior-authorization-${ENV}-core",
        "Payload": {
          "node": "evaluate_criteria",
          "state.$": "$"
        }
      },
      "ResultSelector": {
        "state.$": "$.Payload.state"
      },
      "ResultPath": "$",
      "Next": "assemble_packet"
    },
    "assemble_packet": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "node: assemble_packet",
      "Parameters": {
        "FunctionName": "hpp-02-prior-authorization-${ENV}-core",
        "Payload": {
          "node": "assemble_packet",
          "state.$": "$"
        }
      },
      "ResultSelector": {
        "state.$": "$.Payload.state"
      },
      "ResultPath": "$",
      "Next": "compliance_check"
    },
    "compliance_check": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "node: compliance_check",
      "Parameters": {
        "FunctionName": "hpp-02-prior-authorization-${ENV}-core",
        "Payload": {
          "node": "compliance_check",
          "state.$": "$"
        }
      },
      "ResultSelector": {
        "state.$": "$.Payload.state"
      },
      "ResultPath": "$",
      "Next": "human_review_gate"
    },
    "human_review_gate": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Comment": "HITL gate \u2014 suspends until a verified PA Nurse approves (mirrors interrupt_before).",
      "Parameters": {
        "FunctionName": "hpp-02-prior-authorization-${ENV}-hitl",
        "Payload": {
          "taskToken.$": "$$.Task.Token",
          "reviewerRole": "PA Nurse",
          "state.$": "$"
        }
      },
      "ResultSelector": {
        "approval.$": "$"
      },
      "ResultPath": "$.human_approval",
      "Next": "finalize"
    },
    "finalize": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "node: finalize \u2014 commit approved action / forward recommendation; write PHI-masked audit.",
      "Parameters": {
        "FunctionName": "hpp-02-prior-authorization-${ENV}-core",
        "Payload": {
          "node": "finalize",
          "state.$": "$"
        }
      },
      "ResultSelector": {
        "state.$": "$.Payload.state"
      },
      "ResultPath": "$",
      "End": true
    }
  }
}